/*** Basic Styles
********************/
body {
  font-family: corbertregular;
  background: #333;
  color: transparent;
  text-align: center;
  min-width: 528px;
  color: white;
}

h1 {
  margin-top: 15px;
  font-size: 5rem;
  letter-spacing: -.5rem;
}

h2 {
  font-size: 3rem;
  letter-spacing: -.25rem;
}

button {
  width: 90px;
  font-family: corbertregular;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0 10px;
  border-radius: 10%;
  background: #FFF;
  transition: background .4s ease
}

/*** Layout
********************/
.sidebar {
  float: left;
  display: block;
  width: 20%;
}
.grid-container {
width: 1070px;
  display: inline-block;
  margin: 10px auto;
}
.grid {
  width: 100%;
}

/*** Settings
********************/
.sidebar h2 {
  margin-bottom: 20px;
}

/*** Grid
********************/
.grid span {
  display: none;
}
.col {
  float: left;
  margin: 0 1.5px;
}
.box {
  width: 30px;
  height: 20px;
  margin: 3px 0;
  background: #BBB;
  border-radius: 10%;
}
.box:hover {
  cursor: pointer;
}
.active, .active.downbeat, .active.downbeat-measure {
  background: #66FF99;
}
.selected, .selected.downbeat, .selected.downbeat-measure {
  background: #EEE;
}
.selected.active {
  background: #FFFF66; 
}
.toggle:hover {
  background: #75A3FF;
}
.clear:hover {
  background: #FF6666;
}
.downbeat {
  background: maroon;
}
.downbeat-measure {
  background: orange;
}
.selected.active.downbeat {
  background: pink;
}
.selected.active.downbeat-measure {
  background: yellow;
}
/*** Links
********************/
.with-love {
  color: #EEE;
}
.with-love a {
  color: #EEE;
}
.brian:hover {
  color: #75A3FF;
}
.kai:hover {
  color: #0F9473;
}

/*** Responsiveness
********************/
@media (max-width: 900px) {
  .made-by {
    position: static;
    margin-top: 20px
  }
}