body {
  background: #333;
  color: #EEE;
  text-align: center;
}

.grid {
  display: inline-block;
  margin-top: 60px;
}
.col {
  float: left;
  margin: 0 1.5px;
}
.box {
  width: 30px;
  height: 30px;
  margin: 3px 0;
  background: #777;
}
.active {
  background: #00FFFF;
}
.selected {
  background: #EEE;
}