body {
  background: #333;
  color: transparent;
  text-align: center;
  min-width: 528px;
}
h1,h2 {
  font-family: corbertregular;
  color: white;
}

h1 {
  margin-top: 15px;
  font-size: 5rem;
  letter-spacing: -.5rem;
}

h2 {
  font-size: 3rem;
  letter-spacing: -.25rem;
}

button {
  width: 90px;
  font-family: corbertregular;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0 10px;
  border-radius: 10%;
  background: #FFF;
  transition: background .4s ease
}
.toggle:hover {
  background: #75A3FF;
}
.clear:hover {
  background: #FF6666;
}
.grid {
  display: inline-block;
  margin: 10px auto;
}
.col {
  float: left;
  margin: 0 1.5px;
}
.box {
  width: 30px;
  height: 30px;
  margin: 3px 0;
  background: #BBB;
  border-radius: 10%;
}
.box:hover {
  cursor: pointer;
}
.active {
  background: #66FF99;
}
.selected {
  background: #EEE;
}
.selected.active {
  background: #FFFF66; 
}
.with-love {
  color: #EEE;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.with-love a {
  color: #EEE;
}
.with-love a:hover {
  color: #75A3FF;
}